<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DynamicImageHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DynamicImageHandler.Properties.Settings>
      <setting name="ImageToolType" serializeAs="String">
        <value>DynamicImageHandler.ImageTools.NativeImageTool, DynamicImageHandler</value>
      </setting>
      <setting name="ImageProviderType" serializeAs="String">
        <value>DynamicImageHandler.ImageProviders.FileSystemImageProvider, DynamicImageHandler</value>
      </setting>
      <setting name="ImageStoreType" serializeAs="String">
        <value>DynamicImageHandler.ImageStores.FileSystemImageStore, DynamicImageHandler</value>
      </setting>
      <setting name="FileSystemImageStorePath" serializeAs="String">
        <value>|AppData|</value>
      </setting>
      <setting name="ImageCacheTimeout" serializeAs="String">
        <value>10:00:00</value>
      </setting>
      <setting name="ImageCleanRunInterval" serializeAs="String">
        <value>05:00:00</value>
      </setting>
      <setting name="ImageParametersType" serializeAs="String">
        <value>DynamicImageHandler.ImageParameters.SimpleImageParameters, DynamicImageHandler</value>
      </setting>
      <setting name="ImageParameterKey" serializeAs="String">
        <value>PLEASE_CHANGE_ME_IMMEDIATELY!</value>
      </setting>
      <setting name="ImageProcessorType" serializeAs="String">
        <value>DynamicImageHandler.ImageProcessors.ImageProcessor, DynamicImageHandler</value>
      </setting>
    </DynamicImageHandler.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
